.letras-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.letra-item {
    background-color: #f8f9fa;
}

.is-invalid {
    border-color: red;
}


.form-control::placeholder {
    color: gray;
    opacity: 1; /* Para que el color se aplique correctamente en todos los navegadores */
}


@media (min-width: 768px) {
    .letra-item {
        display: none;
    }
}
